main {
    padding: 20px;
    min-height: 600px; /* Adjust based on your design needs */
    min-width: 100%; /* Ensures it takes up full width */
    box-sizing: border-box; /* Includes padding in the height/width calculations */
}

header {
    margin-top: 80px;
    background-color: var(--color-primary5);
    color: var(--color-text);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: var(--h1-font-size);
}

.settings-section {
    background-color: var(--color-background1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-section h2 {
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
}

.settings-option {
    margin-bottom: 15px;
}

.settings-option label {
    font-size: var(--h5-font-size);
    display: block;
    margin-bottom: 5px;
}

.settings-option select,
.settings-option input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    font-size: var(--h5-font-size);
    border: 1px solid var(--color-text);
    border-radius: 4px;
    background-color: var(--color-background2);
    color: var(--color-text);
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .settings {
        padding: 10px;
    }

    .settings-section {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .settings-section {
        padding: 15px;
    }
}
